.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}
.footer a {
  color: white;
}

@media (max-width: 500px) {
  .footer {
    /* Make the footer stick to the bottom */
    position: fixed;
    bottom: 0;
    /* Shrink its whitespace */
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
